.create-post-container {
    display:flex;
    flex-direction: column;
    margin: 1vw;
}

.create-post-title {
    margin: 0px;
    margin-bottom: 3vh;
}

#activity-select {
    margin: 1vh;
}

.create-post-form {
    display: flex;
    justify-content: space-between;
    padding: 1vh;
}

.create-post-label {
    margin: auto;
    font-size: 1.3em;
}

.create-post-input {
    width: 85vw;
}

#create-post-body {
    height: 25vh;
}

.error-message {
    color: red;
}

.create-post-missing {
    vertical-align:middle;
    color: red;
}

.auth-failed-label {
    color: red;
}