.header-container {
    display: flex;
    justify-content: space-between;
    margin: 1vh;
    padding: 1vh;
    background-color: #135B32;
    border-radius: 1vh;
}

.site-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.interact-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
}

@media (max-width: 600px) {
    .interact-container {
        width: 50%;
    }
}

.logo-link {
    font-size: 50px;
    text-decoration: none;
    color: #9ACD32;
}

.link {
    font-size: 24px;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    border-width: 1px;
    border-style: solid;
    border-radius: 1vh;
    border-color: #FFFFFF;
}