.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #135B32;

}

.site-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1vw;
}

.interact-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 1vw;
}

.logo-link {
    font-size: 50px;
    text-decoration: none;
    color: #c3fa56;
}

.header-link {
    font-size: 24px;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}