.post-container {
    padding-left: 1vh;
    width: 93vw;
    border-width: 1px;
    border-style: solid;
    border-color: #135B32;
    border-radius: 1vh;
    background-color: #A9A9A9;
}

.link {
    text-decoration: none;
}

.title {
    font-size: 30px;
    text-decoration: none;
    color: #FFFFFF;
}