.post-container {
    padding-left: 1vh;
    width: 93vw;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    border-radius: 1vh;
    background-color: #A9DBEF;
}

.title {
    font-size: 30px;
    text-decoration: none;
    color: #000000;
}